/* Fonts available: Felipa, Roboto(variable), Montserrat(variable), Bellefair    */

*{
    margin: 0px;
}

body{
    margin: 0px;
    background-color: rgb(117, 117, 118);
}

header{
    background-image: url(images/AusRooOnBeach2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

h1{
    position: absolute;
    top: 60px; 
    left: 300px; 
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Felipa;
    font-size: 80px;
    font-style: bold;
}

.NavBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(117, 117, 118);
}
.NavBar a{
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 25px 50px;
}
.NavBar a:hover{
    background-color: hsl(0, 8%, 58%);
    box-shadow: 2px 2px 5px hsl(0, 5%, 73%);
    font-size: bold;
}
.NavBar li{
    float: left;
}


.video{
    text-align: center;
    display: block;
    justify-content: center;
    background-color: rgb(13, 13, 14);
}

.intro{
    background-color: hsl(0, 2%, 48%);
    display: inline-flex; 
    align-items: center;
    border:white solid 5px;
    border-radius: 15px;
}
.intro h2{
    margin-left: 20px;
    margin-right: 10px;
    color: hsl(0, 13%, 95%);   
    font-size: 1.5em;
}

.intro img{
    margin-right: 0px;
    width: 550px;
    display: inline-block;
    border-radius: 20px;

}

.intro p{
    margin-left: 20px;
    margin-right: 10px;
    color: hsl(0, 13%, 95%);
    font-size: 1.2em;
    max-width: 600px;
    line-height: 1.5;
}

.attractions{
    border-radius: 25px;
   
}
.attractions h2{
    text-align: center;
    color: hsl(0, 0%, 95%);
    font-size: 3em;
    font-size: bold;
}

#AttSubHead{
    text-align: center;
    color: hsl(0, 6%, 93%);
    font-size: 1.5em;
    font-size: bold;
    margin-bottom: 20px;
}
.HypeAtt{
    text-decoration: none;
    color: hsl(0, 4%, 90%);
}

.attractions dl{
    margin-left: 20px;
    margin-right: 10px;
    color: hsl(0, 4%, 90%);
    font-size: 1.2em;
    text-align: center;
}
.attractions dt{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
    color:antiquewhite
}
.attractions .AttDesc{
    margin-bottom: 15px;
    line-height: 1.5;
}

.culture{
    background-color: hsl(0, 2%, 60%);
    display: flex;
    align-items: center;
}
.culture h2{
    margin-left: 20px;
    margin-right: 10px;
    color: hsl(0, 13%, 95%);
    font-size: 1.5em;
    font-size: bold;
}
.culture img{
    margin-right: 0px;
    width: 1500px;
    border-radius: 20px;
    float: left;
}
.culture p{
    margin-left: 20px;
    margin-right: 10px;
    color: hsl(0, 13%, 95%);
    font-size: 1.2em;
    max-width: 600px;
    line-height: 1.5;
}

.music{
    text-align: center;
    background-color: hsl(0, 2%, 60%);
    padding: 20px;
    color:hsl(0, 0%, 100%);
}
.music audio{
    margin-top: 15px;
    border-radius: 15px;
}

#headGallery{
    text-align: center;
    color: rgb(117, 117, 118);
    font-size: 3em;
    font-size: bold;
    margin-top: 20px;
    font-family:Montserrat, sans-serif;
}
#headGallery{
    transition: color 0.3s;
}

#headGallery:hover{
    color: hsl(0, 0%, 20%);
}
.gallery{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
}
.gallery .group{
    width: 350px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin:10px;
}
.gallery .description{
    text-align: center;
    padding: 10px;
}
.gallery:hover{
    border:1px solid hsl(0, 0%, 20%)
}
.gallery img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}
.gallery .group a{
    text-decoration: none;
    font-family: Bellefair, serif;
    color:rgb(255, 255, 255)
}
.gallery .group:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    color:ivory
}


footer{
    background-color:black;
    text-align: center;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.icons{
    margin-top: 10px;
    font-size: 30px;
    color: white;
    gap: 20px;
    margin-bottom: 15px;
}
.icons a{
    text-decoration: none;
    color: white;
}
.icons a:hover{
    color: hsl(0, 0%, 70%);
}
.icons a:active{
    color: hsl(238, 75%, 39%);
}  
.icons a:visited{
    color:rgb(165, 26, 229)
}

@media screen and (max-width: 600px){
    .NavBar li{
        float: none;
    }
    .intro, .culture{
        flex-direction: column;
    }
    .intro img, .culture img{
        width: 100%;
        margin-bottom: 20px;
    }
}

